*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: sans-serif;
    color: rgb(83, 83, 233);
}
.holaMundo{
    background-color: rgb(183, 137, 226);
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}
.holaMundo:hover{
    background-color: #73dddb;
    transition: .4s;
    color: #ef5cb7;
}
h1:hover{
    color: azure;
    transform: skew(-20deg);
    transition: .4s;
}

.flex-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-index img{
    padding: 5px;
}

/* mobile last */
@media (max-width:560px){
    .holaMundo{
        background-color: rgb(105, 155, 215);
}
}